# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/
.env
*.db-*
*.db
__pycache__/
langgraph_backend_database.py
.pytest_cache/
